@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
.navbar-custom .navbar-nav .nav-link {
  color: black;
}
.navbar-custom .nav-item .present,
.navbar-custom .nav-item:hover .nav-link {
  color: tomato;
}
.banner-bg {
  background-color: tomato;
  color: white;
}
.btn-custom {
  background-color: white;
  color: tomato;
}
.btn-custom:hover {
  color: tomato;
  background-color: rgb(240, 236, 236);
}

.container{
  margin: 35px auto;
}

.spaced {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 500;
}
.custom-font {
  font-family: "Dancing Script", cursive;
  font-size: 4em;
  font-weight: 600;
}
.banner-btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: tomato;
  border-radius: 50%;
}
.about {
  color: tomato;
  font-size: 0.95em;
  font-weight: 500;
  letter-spacing: 0.135em;
}
.about span {
  word-spacing: 0.005px;
}
.bg-menu {
  background-color: #fffafa;
}

.custom-card {
  position: relative;
  height: 370px;
}
.card-body {
  background-color: tomato;
  color: white;
  overflow: hidden;
  height: 98px;
  transition: height 0.75s;
  position: absolute;
  bottom: 0px;
}
.card:hover .card-body {
  height: 225px;
}
.custom-card .price {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: tomato;
  font-size: 1.5em;
  font-weight: 700;
  color: white;
}
.custom-card .card-body .btn {
  background-color: tomato;
  color: white;
  padding:5px 12px;
  border: 1.5px solid white;
}

.custom-card img{
  height: 100%;
  object-fit: cover;
}

/* =========accordian starts=========== */

.accordion-body{
  /* background: rgba(255, 255, 255, 0.432); */
  background-color: #fcf7f7;
  background-image: url("/img/accordian-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;

  
}

.accordian h1 {
  text-align: center;
}

/* Sets the width for the accordion. Sets the margin to 90px on the top and bottom and auto to the left and right */

.accordion {
  width: 800px;
  margin: 90px auto;
  color: black;
  background-color: rgba(144, 238, 144, 0.288);
  padding: 45px 45px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.accordion .container {
  position: relative;
  margin: 10px 10px;
}

/* Positions the labels relative to the .container. Adds padding to the top and bottom and increases font size. Also makes its cursor a pointer */

.accordion .label {
  position: relative;
  padding: 10px 0;
  font-size: 22px;
  color: black;
  cursor: pointer;
 

}

/* Positions the plus sign 5px from the right. Centers it using the transform property. */

.accordion .label::before {
  content: '+';
  color: black;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

/* Hides the content (height: 0), decreases font size, justifies text and adds transition */

.accordion .content {
  position: relative;
  /* background: white; */
  height: 0;
  font-size: 20px;
  text-align: justify;
  width: 780px;
  width: 100%;
  overflow: hidden;
  transition: 0.5s;
  padding: 0 20px;
  background-color: rgba(144, 238, 144, 0.096);
  
}

/* Adds a horizontal line between the contents */

.accordion hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
}

.accordion .container.active .content {
  height: 150px;
}

/* Changes from plus sign to negative sign once active */

.accordion .container.active .label::before {
  content: '-';
  font-size: 30px;
}


/* =========accordian ends=========== */


/* go to top button  */
.top-btn{

    display: none;
    cursor: pointer;
    position: fixed; 
    bottom: 20px;
    right: 30px;
    z-index: 99;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(12, 12, 12);
    color: white;
    border: none;
    transition: all .5s;
  
}
/* go to top button  */

/* ===footer== */
/* =======================footer================== */

.footer {
  background-color: rgb(13, 19, 37);
  color: white;
  padding: 1.5em 0;
  /* margin-top: 35px; */
}
.footer .container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.footer-coloum {
  flex: 1;
  margin: 0 1em;
  padding: 1em;
  line-height: 1.5em;
}
.footer-coloum hr {
  border: 0.25px solid gold;
  margin: 1em 0;
}
.footer ul {
  list-style: none;
}
.footer ul li {
  margin: 1em 0;
}
.footer ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}
.footer ul li a:hover {
  color: gold;
}
.socials {
  display: flex;
  align-items: center;
}
.socials i {
  margin-left: 3.5em;
  margin-right: 1em;
}
.insta-photo {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.insta-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.copyright {
  text-align: center;
  color: white;

  margin: 0 auto;
  display: block;
}
.myname {
  color: gold;
  margin-left: 0.25em;
  font-size: 1em;
  text-transform: uppercase;
}

@media screen and (max-width:576px) {
  .footer .container {
    flex-direction: column;
   
  }
}
@media screen and (min-width:576px) and (max-width:970px) {
  
  .footer .container {
    flex-wrap: wrap;
  }
  .footer-coloum{
  text-align: start;
  }
  .footer-coloum li i {
    display: none;
  }
  .insta-photo{
      width: 450px;
      margin: 1em auto;
  }
  .insta h4{
    text-align: center;
  }
  .center-btn{
    text-align: start;
  }
}